<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hs.userportal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.hs.userportal.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:name="com.hs.userportal.AppAplication"
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ApplicationStyle"
        tools:replace="android:icon">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="com.hs.userportal.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.hs.userportal.UploadService" />

        <service android:name="utils.QuestionReportPageService" />

        <activity
            android:name="com.hs.userportal.logout"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />

        <activity
            android:name="com.hs.userportal.Register"
            android:label="Sign Up"
            android:parentActivityName="com.hs.userportal.MainActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hs.userportal.update"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>

        <!-- <activity
             android:name=".ViewOrderFiles"
             android:launchMode="singleInstance"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden" />-->

        <activity
            android:name="com.hs.userportal.changepass"
            android:configChanges="orientation|screenSize"
            android:label="Change Password"
            android:parentActivityName="com.hs.userportal.logout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hs.userportal.TabsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Update Details"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ViewOrderReport"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Pkg_TabActivity"
            android:label="Details"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Invoice"
            android:label="Invoice"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Education"
            android:noHistory="true" />
        <activity
            android:name="com.hs.userportal.OtherPackages"
            android:noHistory="true" />
        <activity
            android:name="com.hs.userportal.Pkg_LabDetails"
            android:noHistory="true" />
        <activity
            android:name="com.hs.userportal.PackageTestDetails"
            android:noHistory="true" />
        <activity
            android:name="com.hs.userportal.residence"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hs.userportal.Work"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hs.userportal.Travel"
            android:noHistory="true" />
        <activity
            android:name="com.hs.userportal.Personal"
            android:noHistory="true" />
        <activity
            android:name="com.hs.userportal.Medical"
            android:noHistory="true" />

        <activity
            android:name="com.hs.userportal.Booking_Info"
            android:configChanges="orientation|keyboardHidden"
            android:label="Booking Info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.hs.userportal.Booking_type"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Confirm_Order"
            android:label="Order Confirmation"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Mail"
            android:label="Feedback/Help"
            android:parentActivityName="com.hs.userportal.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hs.userportal.Help"
            android:label="Feedback/Help"
            android:parentActivityName="com.hs.userportal.logout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hs.userportal.lablistdetails"
            android:label="My Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hs.userportal.ReportRecords"
            android:label="Case Details"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.ReportStatus"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="Report status"
            android:parentActivityName="com.hs.userportal.lablistdetails"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.GraphDetails"
            android:label="Graph Details"
            android:parentActivityName="com.hs.userportal.ReportStatus"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.OrderHistory"
            android:label="Order History"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.OrderDetails"
            android:label="Order Details"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.grouptest"
            android:label="Select Test"
            android:parentActivityName="com.hs.userportal.ReportStatus"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.allergylist"
            android:label="Select Allergy"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Login_First"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".MyFamily"
            android:label="My Family"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.hs.userportal.Profile"
            android:label="Profile"
            android:parentActivityName="com.hs.userportal.logout"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.AboutUs"
            android:label="About Us"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.MyNotification"
            android:label="Notifications"
            android:parentActivityName="com.hs.userportal.logout"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.TestHistory"
            android:label="Test History"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.viewpdf"
            android:label="Report PDF"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ImageGridActivity"
            android:label="Images"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ImagePagerActivity"
            android:label="Images" />

        <activity
            android:name="com.hs.userportal.Error"
            android:label="Error"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.FAQ"
            android:label="F.A.Q"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.PDFActivity"
            android:label="PDF"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.SampleCirclesDefault"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Filevault"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="Repository"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hs.userportal.Filevault2"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="Vault"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.hs.userportal.FileVaultMenu"
            android:label="File vault"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Filevaultcase"
            android:label="File vault"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.ExpandImage"
            android:label="    "
            android:screenOrientation="portrait" />

        <activity
            android:name=".Packages"
            android:configChanges="orientation|screenSize"
            android:label="Health Packages"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.hs.userportal.FilevaultDelete"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.LocationClass"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.hs.userportal.MapClass"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.SinglelabMap"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.PrivacyPolicy"
            android:label="Privacy Policy"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.MapLabDetails"
            android:configChanges="orientation|screenSize"
            android:label="Lab Information"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.CouponActivity"
            android:configChanges="orientation|screenSize"
            android:label="Generate Coupon"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.PdfReader"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.Height"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.hs.userportal.Weight"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.hs.userportal.AddGraphDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hs.userportal.Allergy"
            android:label="Allergies"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hs.userportal.AddWeight"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hs.userportal.GraphDetailsNew"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="ui.QuestionireActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="ui.QuestionReportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="ui.BpActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="ui.HealthCommonActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="ui.VaccineActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="ui.VaccineEditActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="ui.BmiActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="ui.ProfileContainerActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="ui.SignInActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="ui.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>



        <activity
            android:name="com.hs.userportal.MyHealth"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <service android:name="com.hs.userportal.UploadProfileService" />

        <activity
            android:name="com.hs.userportal.IndividualLabTest"
            android:label="Lab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBeKiVCcMy9tvlZ4-wOEgAphDmIJsFseVI" />

        <!-- AIzaSyBeKiVCcMy9tvlZ4-wOEgAphDmIJsFseVI-->
        <!--AIzaSyDPEeIalPb11XO0RLOX5B0XkwklHBwUGws-->

        <!-- <meta-data
             android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version" />-->
        <!--
                <activity android:name="com.facebook.LoginActivity" />-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="networkmngr.NetworkChangeListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>