<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hs.userportal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="com.hs.userportal.permission.MAPS_RECEIVE" />

    <permission
        android:name="com.hs.userportal.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:name=".AppAplication"
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ApplicationStyle"
        tools:replace="android:icon">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hs.userportal.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".UploadService" />
        <service android:name="utils.QuestionReportPageService" />

        <activity
            android:name=".update"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!--
             <activity
             android:name=".ViewOrderFiles"
             android:launchMode="singleInstance"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden" />
        -->

        <activity
            android:name=".changepass"
            android:configChanges="orientation|screenSize"
            android:label="Change Password"
            android:parentActivityName=".logout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TabsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Update Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewOrderReport"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pkg_TabActivity"
            android:label="Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Invoice"
            android:label="Invoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Education"
            android:noHistory="true" />
        <activity
            android:name=".OtherPackages"
            android:noHistory="true" />
        <activity
            android:name=".Pkg_LabDetails"
            android:noHistory="true" />
        <activity
            android:name=".PackageTestDetails"
            android:noHistory="true" />
        <activity
            android:name=".residence"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Work"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Travel"
            android:noHistory="true" />
        <activity
            android:name=".Personal"
            android:noHistory="true" />
        <activity
            android:name=".Medical"
            android:noHistory="true" />
        <activity
            android:name=".Booking_Info"
            android:configChanges="orientation|keyboardHidden"
            android:label="Booking Info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Booking_type"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Confirm_Order"
            android:label="Order Confirmation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mail"
            android:label="Feedback/Help"
            android:parentActivityName="ui.DashBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Help"
            android:label="Feedback/Help"
            android:parentActivityName=".logout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".lablistdetails"
            android:label="My Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportRecords"
            android:label="Case Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportStatus"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="Report status"
            android:parentActivityName=".lablistdetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GraphDetails"
            android:label="Graph Details"
            android:parentActivityName=".ReportStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderHistory"
            android:label="Order History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetails"
            android:label="Order Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".grouptest"
            android:label="Select Test"
            android:parentActivityName=".ReportStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".allergylist"
            android:label="Select Allergy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_First"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyFamily"
            android:label="My Family"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:parentActivityName=".logout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyNotification"
            android:label="Notifications"
            android:parentActivityName=".logout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestHistory"
            android:label="Test History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewpdf"
            android:label="Report PDF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageGridActivity"
            android:label="Images"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImagePagerActivity"
            android:label="Images" />
        <activity
            android:name=".Error"
            android:label="Error"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FAQ"
            android:label="F.A.Q"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PDFActivity"
            android:label="PDF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SampleCirclesDefault"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Filevault2"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:label="Vault"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FileVaultMenu"
            android:label="File vault"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Filevaultcase"
            android:label="File vault"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpandImage"
            android:label="    "
            android:screenOrientation="portrait" />
        <activity
            android:name=".Packages"
            android:configChanges="orientation|screenSize"
            android:label="Health Packages"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FilevaultDelete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationClass"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MapClass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SinglelabMap"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicy"
            android:label="Privacy Policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapLabDetails"
            android:configChanges="orientation|screenSize"
            android:label="Lab Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CouponActivity"
            android:configChanges="orientation|screenSize"
            android:label="Generate Coupon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PdfReader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Height"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Weight"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AddGraphDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Allergy"
            android:label="Allergies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddWeight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GraphDetailsNew"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="ui.QuestionireActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.QuestionReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.BpActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.HealthCommonActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="ui.VaccineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.VaccineEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.BmiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.ProfileContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.CreditsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.DashBoardActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="ui.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GalleryReceivedData"
            android:label="Add to ScionTra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.ms-excel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/msword" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/msword" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.ms-excel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MyHealth"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="ui.AccountActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="ui.StudentsDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="ui.DoctorDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />


        <service android:name=".UploadProfileService" />

        <activity
            android:name=".IndividualLabTest"
            android:label="Lab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBeKiVCcMy9tvlZ4-wOEgAphDmIJsFseVI" />

        <!-- AIzaSyBeKiVCcMy9tvlZ4-wOEgAphDmIJsFseVI -->
        <!-- AIzaSyDPEeIalPb11XO0RLOX5B0XkwklHBwUGws -->


        <!--
             <meta-data
             android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version" />
        -->
        <!-- <activity android:name="com.facebook.LoginActivity" /> -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="networkmngr.NetworkChangeListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- [START fcm_default_icon] -->
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic" />
        -->
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/text_color_blue" />
        -->
        <!-- [END fcm_default_icon] -->
        <!-- [START firebase_service] -->
        <service android:name="base.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="base.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <activity android:name=".Transparent"></activity>

        <meta-data
            android:name="com.applozic.application.key"
            android:value="healthscione528964188c9a414a033984f36c106fc" /> <!-- Applozic Application Key -->

        <meta-data
            android:name="com.applozic.mobicomkit.notification.smallIcon"
            android:resource="@drawable/ic" /> <!-- Launcher white Icon -->

        <meta-data
            android:name="main_folder_name"
            android:value="@string/default_media_location_folder" /> <!-- Attachment Folder Name -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxtzJCKRNn6JJPF4eqMQF1XJD-9-KVa10" />  <!--Replace with your geo api key from google developer console  -->
        <!-- For testing purpose use AIzaSyAYB1vPc4cpn_FJv68eS_ZGe1UasBNwxLI
        To disable the location sharing via map add this line ApplozicSetting.getInstance(context).disableLocationSharingViaMap(); in onSuccess of Applozic UserLoginTask -->

        <meta-data
            android:name="activity.open.on.notification"
            android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" /> <!-- NOTE : Do NOT change this value -->

        <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" /> <!-- NOTE: Do NOT change this, it should remain same i.e 'com.package.name' -->

        <receiver android:name="com.applozic.mobicomkit.uiwidgets.notification.MTNotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="${applicationId}.send.notification" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName="ui.DashBoardActivity"
            android:theme="@style/ApplozicTheme">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.DashBoardActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.people.activity.MobiComKitPeopleActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/activity_contacts_list"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="adjustResize">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.FullScreenImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Image"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic_FullScreen_Theme">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ContactSelectionActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelCreateActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelNameActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme"></activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelInfoActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.MobiComAttachmentSelectorActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.MobicomLocationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="com.applozic.mobicomkit.api.conversation.MessageIntentService"
            android:exported="false" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <service
            android:name="com.applozic.mobicomkit.api.conversation.ApplozicIntentService"
            android:exported="false" />

        <service
            android:name="com.applozic.mobicomkit.api.conversation.ApplozicMqttIntentService"
            android:exported="false" />

        <service
            android:name="com.applozic.mobicomkit.api.people.UserIntentService"
            android:exported="false" />

        <service
            android:name="com.applozic.mobicomkit.api.conversation.ConversationIntentService"
            android:exported="false" />

        <service
            android:name="com.applozic.mobicomkit.api.conversation.ConversationReadService"
            android:exported="false" />

        <service
            android:name="com.applozic.mobicomkit.uiwidgets.notification.NotificationIntentService"
            android:exported="false" />

        <receiver android:name="com.applozic.mobicomkit.broadcast.TimeChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.applozic.mobicomkit.broadcast.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.applozic.audiovideo.activity.AudioCallActivityV2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Applozic_FullScreen_Theme" />
        <activity
            android:name="com.applozic.audiovideo.activity.CallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Applozic_FullScreen_Theme" />
        <activity
            android:name="com.applozic.audiovideo.activity.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Applozic_FullScreen_Theme"></activity>

    </application>

</manifest>